      <!-- Anchors. -->
      <!-- <a-entity mixin="marker" position="-2.5 1 0.01"></a-entity>
      <a-entity position="-2.5 1 0"
                text="anchor: left; width: 1.5; color: white; value: [LEFT ANCHOR] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam">
      </a-entity>
      <a-entity mixin="marker" position="0 1 0.01"></a-entity>
      <a-entity position="0 1 0"
                text="anchor: center; width: 1.5; color: white; value: [CENTER ANCHOR] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam">
      </a-entity>
      <a-entity mixin="marker" position="2.5 1 0.01"></a-entity>
      <a-entity position="2.5 1 0"
                text="anchor: right; width: 1.5; color: white; value: [RIGHT ANCHOR] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam">
      </a-entity> -->
