<!-- Animations. -->
<a-entity id="opacity" position="-2.5 0.7 0"
          text="color: white; align: center; value: Animating opacity; width: 1.5">
</a-entity>
<a-entity mixin="marker" position="0 0.7 0.01"></a-entity>
<a-entity id="color" position="0 0.7 0"
          text="color: white; align: center; value: Animating color; width: 1.5">
</a-entity>
<a-entity mixin="marker" position="2.5 0.7 0.01"></a-entity>
<a-entity id="size" position="2.5 0.7 0"
          text="color: white; align: center; value: Animating size; width: 1.5">
</a-entity>
