<html>
  <head>
    <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@^0.5.0/dist/aframe-text-geometry-component.min.js"></script>
    <title>test</title>
  </head>
  <body>
    <a-scene background="color: #222">
      <a-assets>
        <a-mixin
          id="marker"
          geometry="primitive: plane; width: 0.02; height: 0.02"
          material="color: red"
        ></a-mixin>

        <img id="jbl" src="/images/jbl.jpg">
        <img id="star" src="/images/star.png">

        <a-asset-item id="fireplace-obj" src="/models/fireplace/am.obj"></a-asset-item>
        <a-asset-item id="fireplace-mtl" src="/models/fireplace/am.mtl"></a-asset-item>
      </a-assets>

      <a-entity mixin="marker" position="-2.5 0.7 0.01"></a-entity>

      {% include 'partials/shapes.html' %}
      {% include 'partials/animations.html' %}
      {% include 'partials/anchors.html' %}

      {% include 'partials/lawyer-card.html' with {
        name: 'John'
      } %}

      <!-- Spacing. -->
      <!--
      <a-entity mixin="marker" position="-1 2.5 0.01"></a-entity>
      <a-entity position="-0.5 2.5 0"
                text="width: 2; color: white; value: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam">
      </a-entity>

      <a-entity mixin="marker" position="-1 2 0.01"></a-entity>
      <a-entity position="-1 2 0"
                text="width: 2; lineHeight: 50; letterSpacing: 5; color: white; value: [LINE AND LETTER SPACING] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam">
      </a-entity>
      -->

      <!-- Alignments. -->
      <!--
      <a-entity position="2 2 0">
        <a-entity mixin="marker" position="0 0 0.01"></a-entity>
        <a-entity position="0 0 0" geometry="primitive: plane; width: auto; height: auto" material="color: #333"
                  text="color: yellow; align: left; value: [LEFT ALIGNED]; width: 2; ">
        </a-entity>
        <a-entity mixin="marker" position="0 0.2 0.01"></a-entity>
        <a-entity position="0 0.2 0" geometry="primitive: plane; width: auto; height: auto" material="color: #333"
                  text="color: red; align: right; value: [RIGHT ALIGNED]; width: 2; ">
        </a-entity>
        <a-entity mixin="marker" position="0 0.4 0.01"></a-entity>
        <a-entity position="0 0.4 0" geometry="primitive: plane; width: auto; height: auto" material="color: #eee"
                  text="color: blue; align: center; value: [CENTER ALIGNED]; width: 2; ">
        </a-entity>
      </a-entity>
      -->
      {% include 'partials/lawyer-card.html' %}

      <a-entity position="0 1.8 2">
        <a-entity camera look-controls wasd-controls></a-entity>
      </a-entity>
    </a-scene>

    <script src="/scripts/index.js"></script>
  </body>
</html>
